@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.woff') format('woff');
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff') format('woff');
    src: url('./fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
